server:
  port: ${PORT:8080}

spring:
  application:
    name: campaign-service

  r2dbc:
    url: ${SPRING_R2DBC_URL:r2dbc:postgresql://localhost:5432/campaign_db}
    username: ${SPRING_R2DBC_USERNAME:postgres}
    password: ${SPRING_R2DBC_PASSWORD:postgres}

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:user}
    password: ${SPRING_RABBITMQ_PASSWORD:user}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:http://localhost:8080/realms/leadgen}
          jwk-set-uri: ${JWT_JWK_URI:http://localhost:8080/realms/leadgen/protocol/openid-connect/certs}

services:
  formschema:
    url: ${FORMSCHEMA_SERVICE_URL:http://localhost:8082}
  customer:
    url: ${CUSTOMER_SERVICE_URL:http://localhost:8084}

rabbitmq:
  exchange: leadgen.exchange
  routing-key: campaign.campaign.updated

management:
  tracing:
    enabled: false
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
      base-path: /actuator
  endpoint:
    metrics:
      tags:
        application: ${spring.application.name}
    health:
      show-details: always
  health:
    r2dbc:
      enabled: true
    rabbit:
      enabled: true
